* {
  box-sizing: border-box;
}
body,
html,
#app {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
